
.img-background{
  width: 300px;
  height: auto;
  transform: rotate(45deg);
  translate: 45px -45px;
  position: absolute;
  z-index: -1;
}

/*vista pokedex*/
.container-pokedex{
  padding: 1rem;
  height: 100vh;
  
}

.switch-pokedex{
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  justify-content: center;
  margin: 1rem;
}

.search-input-pokedex{
  display: grid;
  justify-content: center;
  margin: 1rem;
}

.search-pokedex{
  width: 50vw;
}


/*pokecard*/

.pokemon-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: black;
}


.container-pokecard{
  border: 1px solid black;
  width: 200px; 
}

.container-info-pokecard{
  display: grid;
}