
.img-background{
  width: 300px;
  height: auto;
  transform: rotate(45deg);
  translate: 45px -45px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/*vista pokedex*/
.container-pokedex{
  padding: 1rem;
  height: 100vh;
  
}

.switch-pokedex{
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  justify-content: center;
  margin: 1rem;
}

.search-input-pokedex{
  display: grid;
  justify-content: center;
  margin: 1rem;
}

.search-pokedex{
  width: 50vw;
}

.search-input-pokedex{
  display: grid;
  gap: 1rem;
}

.btnSearch{
  border-radius: 8px;
  padding: 5px;
  background-color: #3a86ff;
}


/*pokecard*/

.pokemon-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: black;
}


.container-pokecard{
  width: 200px; 
  height: 300px;
  background-image: url("/public/pokeball2.png");
  background-color: #dd641e8e;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  color: white;
}

.title-pokecard{
  padding-top: 1rem;
  padding-left: 0.5rem;
}

.container-info-pokecard{
  display: grid;
  gap: 0.2rem;
  padding-top: 0.5rem;
  padding-left: 0.6rem;
}


.container-info-pokecard span{
  background-color: rgba(229, 230, 229, 0.504);
  border-radius: 24px;
  padding: 4px;
  width: max-content ;
}

.img-pokecard{
  width: 90px;
  height: 90px;
  translate: 95px -30px;
}